# Redirect all requests to index.php, except fome static resources ---
Options -MultiViews

<IfModule mod_rewrite.c>
	# https://github.com/codeigniter4/CodeIgniter4/blob/develop/public/.htaccess
	RewriteEngine On

	# Redirect Trailing Slashes...
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} (.+)/$
	RewriteRule ^ %1 [L,R=301]

	# Checks to see if the user is attempting to access a valid file,
	# such as an image or css document, if this isn't true it sends the
	# request to the front controller, index.php
    #
	# RewriteCond %{REQUEST_FILENAME} !-f
	# RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/.*\.(ico|css|js|js\.map|less|png|jpg|jpeg|webp|webm|mp4|mp3pdf|avi|flv|mov|wmv|wav|m4v|ogg|aac|eot|ttf|otf|woff|woff2|svg)$
    RewriteCond %{REQUEST_URI} !^/(robots\.txt|manifest\.json|\.well-known|hzwp|hz-api|hz-evaluate-me|let-me-in).*$
    RewriteRule (.*) index.php?uri=$1 [L,QSA]

	# Ensure Authorization header is passed along
	RewriteCond %{HTTP:Authorization} .
	RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

<IfModule !mod_rewrite.c>
	# If we don't have mod_rewrite installed, all 404's
	# can be sent to index.php, and everything works as normal.
	ErrorDocument 404 index.php
</IfModule>
#
# <ifModule mod_rewrite.c>
#     RewriteEngine On
#     RewriteBase /
#     RewriteCond %{REQUEST_URI} !^/.*\.(ico|css|js|js\.map|less|png|jpg|jpeg|webp|webm|mp4|mp3pdf|avi|flv|mov|wmv|wav|m4v|ogg|aac|eot|ttf|otf|woff|woff2|svg)$
#     RewriteCond %{REQUEST_URI} !^/(robots\.txt|manifest\.json|\.well-known|hz-wp|hz-api|hz-evaluate-me).*$
#     RewriteRule ^([^/]+)/? index.php?uri=$1 [L,QSA]
# </ifModule>
#
# Redirect all requests to index.php - section end ---

# Revalidation
#ExpiresActive On
#ExpiresDefault A1
#Header append Cache-Control must-revalidat

# BEGIN CACHE POLICY, Source: the default settings of WP-HUMMINGBIRD-CACHING
<IfModule mod_headers.c>
    Header set Cache-Control "max-age=31536000"
    
    <FilesMatch "\.(txt|xml|js)$">
        Header set Cache-Control "max-age=31536000"
    </FilesMatch>

    <FilesMatch "\.(css)$">
        Header set Cache-Control "max-age=31536000"
    </FilesMatch>

    <FilesMatch "\.(flv|ico|pdf|avi|mov|ppt|doc|mp3|wmv|wav|mp4|m4v|ogg|webm|aac|eot|ttf|otf|woff|woff2|svg)$">
        Header set Cache-Control "max-age=31536000"
    </FilesMatch>

    <FilesMatch "\.(jpg|jpeg|png|gif|swf|webp)$">
        Header set Cache-Control "max-age=31536000"
    </FilesMatch>
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    #ExpiresDefault A0
    ExpiresDefault A31536000

    <FilesMatch "\.(txt|xml|js)$">
        ExpiresDefault A31536000
    </FilesMatch>

    <FilesMatch "\.(css)$">
        ExpiresDefault A31536000
    </FilesMatch>

    <FilesMatch "\.(flv|ico|pdf|avi|mov|ppt|doc|mp3|wmv|wav|mp4|m4v|ogg|webm|aac|eot|ttf|otf|woff|woff2|svg)$">
        ExpiresDefault A31536000
    </FilesMatch>

    <FilesMatch "\.(jpg|jpeg|png|gif|swf|webp)$">
        ExpiresDefault A31536000
    </FilesMatch>
</IfModule>

# <IfModule mod_expires.c>
#     ExpiresActive On
#     ExpiresByType text/css A31536000
#     ExpiresByType text/x-component A31536000
#     ExpiresByType application/x-javascript A31536000
#     ExpiresByType application/javascript A31536000
#     ExpiresByType text/javascript A31536000
#     ExpiresByType text/x-js A31536000
#     ExpiresByType text/html A3600
#     ExpiresByType text/richtext A3600
#     ExpiresByType text/plain A3600
#     ExpiresByType text/xsd A3600
#     ExpiresByType text/xsl A3600
#     ExpiresByType text/xml A3600
#     ExpiresByType video/asf A31536000
#     ExpiresByType video/avi A31536000
#     ExpiresByType image/bmp A31536000
#     ExpiresByType application/java A31536000
#     ExpiresByType video/divx A31536000
#     ExpiresByType application/msword A31536000
#     ExpiresByType image/gif A31536000
#     ExpiresByType application/x-gzip A31536000
#     ExpiresByType image/x-icon A31536000
#     ExpiresByType image/jpeg A31536000
#     ExpiresByType image/webp A31536000
#     ExpiresByType application/json A31536000
#     ExpiresByType audio/midi A31536000
#     ExpiresByType video/quicktime A31536000
#     ExpiresByType audio/mpeg A31536000
#     ExpiresByType video/mp4 A31536000
#     ExpiresByType video/mpeg A31536000
#     ExpiresByType video/webm A31536000
#     ExpiresByType application/x-font-otf A31536000
#     ExpiresByType audio/ogg A31536000
#     ExpiresByType application/pdf A31536000
#     ExpiresByType image/png A31536000
#     ExpiresByType audio/x-realaudio A31536000
#     ExpiresByType image/svg+xml A31536000
#     ExpiresByType application/x-shockwave-flash A31536000
#     ExpiresByType application/x-tar A31536000
#     ExpiresByType image/tiff A31536000
#     ExpiresByType application/x-font-ttf A31536000
#     ExpiresByType audio/wav A31536000
#     ExpiresByType audio/wma A31536000
#     ExpiresByType application/font-woff A31536000
#     ExpiresByType application/font-woff2 A31536000
#     ExpiresByType application/zip A31536000
# </IfModule>
# END CACHE POLICY

# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.

# END WordPress